.containerr{
    background: url("/public/logo192.png");
    width: 400px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.block{
    padding: 10px;
    border: 1px solid ;
    margin-left: 10px;

}
.title{
    text-align: center;
}
.btn-main{
    margin-left: 10px;
}